@tailwind base;
@tailwind components;
@tailwind utilities;

/* common */

$theme-color: green;
.error-msg {
    color: red;
}

/* header */

header {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid $theme-color;
}

/* footer */

footer {
	text-align: center;
	background: #999;
    small {
        color: #fff;
    }
}

/* form */

form {
    input,
    textarea,
    button {
        border: 1px solid #ccc;
        outline: none;
    }
}
